body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
	height: 52vh; /*  viewport height */
}

#hero .hero-content {
    max-width: 600px;
    margin: 0 auto;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #ff5733;
}

section {
    padding: 15px 20px;
    text-align: center;
}

#destinations .destinations-grid,
#blog .blog-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
	
}

.destination-card,
.blog-post {
    width: 30%;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.destination-card img,
.blog-post img {
    width: 100%;
    height: auto;
}

.destination-card h3,
.blog-post h3 {
    margin: 20px 0 10px 0;
}

.destination-card p,
.blog-post p {
    padding: 0 20px 20px 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff5733;
}

/* Specific styles for the clear button */
#clear {
    background-color: #ccc;
    color: black;
}

#clear:hover {
    background-color: #999;
}